<!-- BEGIN: MAIN -->
<ul class="uk-list uk-list-divider">
    <li class="uk-nav-header">{PHP.L.marketorders}</li>
    <li><a class="uk-button uk-button-link" href="{ADMIN_HOME_ORDERS_URL}">{PHP.L.marketorders_admin_home_all}: </a><span class="uk-label uk-label-success uk-float-right">{ADMIN_HOME_ORDERS_COUNT}</span></li>
    <li><a class="uk-button uk-button-link" href="{ADMIN_HOME_DONE_URL}">{PHP.L.marketorders_admin_home_done}: </a><span class="uk-label uk-label-danger uk-float-right">{ADMIN_HOME_DONE_COUNT}</span></li>
    <li><a class="uk-button uk-button-link" href="{ADMIN_HOME_CLAIMS_URL}">{PHP.L.marketorders_admin_home_claims}: </a><span class="uk-label uk-label-warning uk-float-right">{ADMIN_HOME_CLAIMS_COUNT}</span></li>
</ul>
<!-- END: MAIN -->