<!-- BEGIN: MAIN -->
<ul class="uk-list uk-list-divider">
    <li class="uk-nav-header">{PHP.L.sbr}</li>
    <li><a class="uk-button uk-button-link" href="{ADMIN_HOME_SBR_URL}">{PHP.L.sbr_admin_home_all}: </a><span class="uk-label uk-label-success uk-float-right">{ADMIN_HOME_SBR_COUNT}</span></li>
    <li><a class="uk-button uk-button-link" href="{ADMIN_HOME_DONE_URL}">{PHP.L.sbr_admin_home_done}: </a><span class="uk-label uk-label-danger uk-float-right">{ADMIN_HOME_DONE_COUNT}</span></li>
    <li><a class="uk-button uk-button-link" href="{ADMIN_HOME_CLAIMS_URL}">{PHP.L.sbr_admin_home_claims}: </a> <span class="uk-label uk-label-warning uk-float-right">{ADMIN_HOME_CLAIMS_COUNT}</span></li>
</ul>
<!-- END: MAIN -->