<!-- BEGIN: MAIN -->
<script src="{PHP.cfg.plugins_dir}/usergroupselector/js/usergroupselector.admin.config.js" type="text/javascript"></script>	
<div id="groupgenerator" style="display:none">
    <!-- BEGIN: ADDITIONAL -->
    <div class="group">
        {ADDGROUP}
        <a href="#" class="deloption negative button trash icon uk-button uk-button-small uk-button-danger uk-margin">{PHP.L.Delete}</a>
    </div>
    <!-- END: ADDITIONAL -->
    <div id="addtr"><button name="addoption" id="addoption" type="button" class="button icon add uk-button uk-button-small uk-button-primary uk-margin">{PHP.L.Add}</button></div>
</div>

<!-- END: MAIN -->