.catbox-list {
    display: none;
    position: absolute;
    background: #f9f9f9;
    z-index: 888;
    margin: 0;
    padding-left: 5px;
}
.catbox-list a{
    color: #969595;
    padding: 7px 20px;
    display: block;
}
.catbox-list a:hover{
    text-decoration: none;
    color: #46a4d5;
}
.catbox-list li {
    position: relative;
}
.catbox-list .catbox-list {
    left: 100%;
    top: 0;
    background: #fff;
}
div>.box-full{
    left: 0;
    right: 0;
}
[class*="uk-column"] .catbox-list{
    left: 0;
    top: 100%;
}
[class*="uk-column"] ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}