<!-- BEGIN: MAIN -->
<div class="uk-card uk-card-default uk-card-body">
    <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
        <thead>
            <tr>
                <th>Info</th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>{PHP.L.adm_phpver}</td>
            <td>{ADMIN_INFOS_PHPVER}</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_zendver}</td>
            <td>{ADMIN_INFOS_ZENDVER}</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_interface}</td>
            <td>{ADMIN_INFOS_INTERFACE}</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_cachedrivers}</td>
            <td>{ADMIN_INFOS_CACHEDRIVERS} {ADMIN_INFOS_CACHEDRIVERS}</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_os}</td>
            <td>{ADMIN_INFOS_OS}</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_time1}</td>
            <td>{ADMIN_INFOS_DATE}</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_time2}</td>
            <td>{ADMIN_INFOS_GMDATE} GMT</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_time3}</td>
            <td>{ADMIN_INFOS_GMTTIME}</td>
        </tr>
        <tr>
            <td>{PHP.L.adm_time4}</td>
            <td>{ADMIN_INFOS_USRTIME} {ADMIN_INFOS_TIMETEXT}</td>
        </tr>
    </table>
</div>
<!-- END: MAIN -->