<li><a href="{PHP|cot_url('page', 'c=support-info')}"><i class="uk-icon-life-ring uk-icon-spin uk-margin-right"></i> Инфо-раздел</a></li>
<li><a href="{PHP|cot_url('page', 'c=news')}"><i class="uk-icon-newspaper-o uk-margin-right"></i> {PHP.L.News}</a></li>
<li><a href="{PHP|cot_url('page', 'c=payservice')}"><i class="uk-icon-diamond uk-margin-right"></i> Платные услуги</a></li>
