<!-- BEGIN: MAIN -->
 
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin="">

 <h1>СПИСОК ПОЛЬЗОВАТЕЛЕЙ</h1>
 <br/>
 <table style="width:100%;">
 <tr>
 <td><h5>Дата регистрации</h5></td>
 <td><h5>Логин</h5></td>
 <td><h5>Дата рождения</h5></td> 
  <td><h5>EMAIL</h5></td>
 <td><h5>ФИО</h5></td>
 <td><h5>Телефон</h5></td>
 <td><h5>Город</h5></td>
 <td style="width:200px;"><h5>Категория</h5></td>
 <td><h5>Статус</h5></td>
 <td><h5>Группа</h5></td>
 </tr>
<!-- BEGIN: ITEM_ROW -->
<tr>
    <td>{ITEM_ROW_REGDATE}</td>
    <td><a href="/users/{ITEM_ROW_NAME}">{ITEM_ROW_NAME}</a></td>
	<td>{ITEM_ROW_BIRTHDATE}</td>
    <td>{ITEM_ROW_EMAIL}</td>
    <td>{ITEM_ROW_YOURNAME}</td>
    <td>{ITEM_ROW_PHONE}</td>
    <td>{ITEM_ROW_CITY}</td>
    <td  style="width:200px;">{ITEM_ROW_CATS}</td>

    <td>{ITEM_ROW_VERIFICATION_STATUS_TYPE}</td>
    <td>{ITEM_ROW_USERGROUP}</td>
    </tr>
    <!-- END: ITEM_ROW -->
    </table>
    
     
    {PAGEPREV}{PAGINATION}{PAGENEXT}
 
    
    </div></div>
    
    
    
<!-- END: MAIN -->