<!-- BEGIN: FOOTER -->
	</div>
</div>
<div id="footer" class="container">&copy; 2010 - {PHP|cot_date('Y')} <a href="http://freelance-script.abuyfile.com/" target="blank">Помощь и поддержка</a></div>

{FOOTER_RC}

</body>
</html>
<!-- END: FOOTER -->