<!-- BEGIN: MAIN -->

<!-- BEGIN: ROW -->
	<div>
    <!-- IF {ADS_ROW_IMAGE} -->
      <a href="{ADS_ROW_CLICK_URL}"><img src="{ADS_ROW_IMAGE}" class="width100" alt="{ADS_ROW_ALT}"/>
    <!-- ELSE -->
      <h4><a href="{ADS_ROW_CLICK_URL}">{ADS_ROW_TITLE}</a></h4>
      <div class="textcenter">
        {ADS_ROW_DESCRIPTION}
      </div>
    <!-- ENDIF -->
	</div>
	<br>
<!-- END: ROW -->

<!-- <div class="pull-right"><a href="{PHP|cot_url('plug', 'e=ads')}">Как сюда попасть?</a></div> -->

<!-- END: MAIN -->